version: '3.7'

services:
  mitmproxyserver:
    image: mitmproxyserver
    build: ./proxy
    container_name: mitmproxyserver
    entrypoint: "mitmweb --web-host 0.0.0.0 -s /addons/modify_response.py"
    networks:
      - app-network
    ports:
      - '6080:8080'
      - '6081:8081'
    volumes:
      - dotmitmproxy:/home/mitmproxy/.mitmproxy:rw
      - addonsmitmproxy:/addons:ro
  desktopclient:
    image: 'desktopclient'
    container_name: desktopclient
    build: ./desktop
    ports:
        - '6901:6901'
    depends_on:
      - mitmproxyserver
    environment:
        - VNC_PW=password
        - PROXY_SERVER=$PROXY_SERVER
        - HTTP_PROXY=http://$PROXY_SERVER
        - HTTPS_PROXY=http://$PROXY_SERVER
        - http_proxy=http://$PROXY_SERVER
        - https_proxy=http://$PROXY_SERVER
        - CA_CERT=$CA_CERT
    shm_size: '1gb'
    networks:
      - app-network
    volumes:
      - dotmitmproxy:/dotmitmproxy:ro
      - addonsmitmproxy:/addons:rw
networks:
  app-network:

volumes:
  dotmitmproxy:
  addonsmitmproxy: